@import url(https://fonts.googleapis.com/css?family=Italianno);

.container-fluid{
    height:100%;
    width: 100%;  
}
body{

	
}
/* Banner + Logo + Title */
.nav-wrapper{
	background-color:c9c9c9;
}
.Banner{
    position: relative;
	width:100%;
	height:100%;
    background-color:c9c9c9;
}
.Title{
	margin-left: 4%;
	margin-right:0;
	padding:0;
	text-align: center;
	vertical-align: center;
	float:left;
}
.Logo{	
	margin-left: 2%;
	float:left;
	height:100%;
}
.hide-on-med-and-down{
	height:100%;
	margin:0;
}
.titletext.hide-on-med-and-up{
	margin-left:4%;
	padding-right:0;
	margin-right:0;
	margin-top:2%;
	font-family: 'Italianno', cursive;
	font-size: 38px;
	width:100%;
}
.titletext.hide-on-small-and-down{
	
	padding:0;
	margin:0;
	font-family: 'Italianno', cursive;
	font-size: 72px;
}
.right.button-collapse{
	padding-left: 0;
	margin-left: 0;
}
.nav-title{
	float:left;
	height:100%;
}

/* End Nav - Banner - Title */

/*  Jumbo picture */

.BigPicture{

width:100%;
margin:0;
padding:0;
}

/* End Jumbo */
/*Dog Walking section*/
#Dog1{

	padding:0;
	margin:0;
	background-color:393939;
}
.DogWalkinginfo{
	padding:0;
	margin:0;
	background-color:c9c9c9;
}
.Dog1Text{
padding:0;
margin:0;
font-size: 48px;
font-weight: bold;
font-family: 'Italianno', cursive;

}

.Dogwalking,.info{
	padding: 0;
	margin:0;
	font-size: 80px;
}
